<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juke Box</title>
    <!-- Link to the external CSS -->
    <link href="../public/css/home.css" rel="stylesheet">
    <!-- Materialize CSS (CDN) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="black">
        <div class="nav-wrapper">
            <div class="col s6 m6">
            <a href="#" class="brand-logo left">
                <img src="../public/images/logofinal.png" alt="My Website Logo" style="height: 60px;">
            </a>
            </div>
            <ul id="nav-mobile" class="right hide-on-med-and-down nav-small">
                <li><a href="#">LOG-OUT</a></li>
               <li> <a href="#" class="user left">
                    <img src="../public/images/user.jpeg" alt="user" style="height: 50px;">
                </a>
            </li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-downn nav-big">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SONG RECOMMENDATION</a></li>
                <li><a href="#">PLAYLIST</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="section">
        <div class="row">
          <div class="col s12 m8 offset-m2 l6 offset-l3 center-align">
            <p class="custom-text white-text">Want to Discover New Favorite Based.<br>On Your Taste</p>
            <a href="#" class="btn custom-btn pink white-text">CLICK HERE</a>
          </div>
        </div>
      </div>          
          
      
    <div class="chat-icon">
        <a href="#" class="chat-btn btn-floating btn-large pink darken-1">
            <img src="../public/images/chat.png" alt="chat" style="height: 50px;">
        </a>
    </div>
    
        <!-- Footer -->
        <footer class="page-footer black">
            <div class="container">
                <div class="row">
                    <!-- Left side with Social Media Icons -->
                    <div class="col l6 s12">
                        <p class="grey-text text-lighten-8">2025 Juke-Box</p>
                    </div>
                    <div class="col l6 s12 right-align icons">
                        <a href="#" class="btn black"><img src="../public/images/Facebook.png" height="30px"></a>
                        <a href="#" class="btn black"><img src="../public/images/Twitter.png" height="30px"></a>
                        <a href="#" class="btn black"><img src="../public/images/Instagram.png" height="30px"></a>
                    </div>
                </div>
            </div>
        </footer>
    
        <!-- Materialize JS (CDN) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
